<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
</head>

<body style="height: 100%; margin: 0">
    <h1>上传性能文件</h1>
    <input type="file" id="id_file"/>
    <button id="upload_file">提交</button>
    <hr />
</body>

<script>
$("#upload_file").click(function () {
    var formdata = new FormData() //实例化得到一个fromdata对象
    formdata.append('performance_json', $("#id_file")[0].files[0])
    formdata.append('name', $("#id_name").val())
    console.log($("#id_file")[0].files[0])
    $.ajax({
        url: 'http://127.0.0.1:8000/ttmemory/upload_performance_json',
        method: 'post',
        processData: false,
        contentType: false,
        data: formdata,
        success: function (data) {
            window.location.href = 'http://127.0.0.1:8000/ttmemory/show_memory'
        }
    })
})
</script>

</html>